body {
    background-color: rgb(0, 0, 0);
    font-family: 'Ubuntu', sans-serif;
    color: rgb(0, 0, 0);
    margin: 0px 0px;
    letter-spacing: 0.5px;
    background-image: url(/horrorOrNot/assets/background.jpg);
    background-repeat: no-repeat;
}

header {
    background-color: rgb(0, 0, 0);
    padding-top: 10px;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
}

.logo h1 {
    margin: 0;
    color: white;
}

.headerLinksContainer {
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 10px;
}

.headerLinks {
    text-decoration: none;
    color: white;
    padding-left: 20px;
    transition: all ease-in-out .3s;
    font-size: 20px;
}

a:hover {
    color: red;
}

.mainContainer {
    background-color: white;
    color: black;
    border: solid white 1px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    padding: 0px 50px;
    padding-bottom: 40px;
}

.mainLinks {}

.mainLinks img {
    height: 300px;
}

.mainLinks video {
    width: auto;
    height: 300px;
}

.movieInsert {
    border-bottom: solid black 0.1px;
    border-top: solid black 0.1px;
    padding-bottom: 20px;

}