body {
    background-color: rgb(7, 7, 7);
    color: rgb(255, 255, 255);
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.navMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.navLogo img {
    height: 100px;
}

.navLinks {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0 10px;
}

main {
    border: 1px solid black;
    width: 70%;
    margin: 0 auto;
    border-radius: 11px;
}


/* This will act as the container for each new movie review */
.movieInsert {
    /* padding: 0 20px; */
}


/* This will act as the child containing the movie poster and trailer link  */
.movieAssets {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.movieImage {
    height: 200px;
    width: 133.33px;
}

.movieVideo {
    height: 200px;
    width: 355px;
}